/* Version 2022.11.26.12.29 */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e6fff0;
  font-family: "Times New Roman", Times, serif;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.topnav {
  background-color: #3c64f0;
  color: #ffffff;
  height: 5%;
  overflow: hidden;
  padding: 0%;
  width: 100%;
}

.topnav img {
  height: 100%;
  width: 2.8125%;
}

#menu {
  float: left;
}

.title {
  float: right;
  text-align: center;
  width: 80%;
}

.title-text {
  float: right;
  font-size: 250%;
  margin: 0%;
  width: 33.333%;
}

.rimg {
  float: right;
}

.main {
  height: 80%;
  margin: 0%;
  width: 100%;
}

.ad {
  background-color: #ff88bb;
  float: left;
  height: 100%;
  margin: 0%;
  padding: 1em;
  width: 20%;
}

/* #lad {
  float: left;
}

#rad {
  float: right;
} */

#bigger {
  height: 100%;
  width: 100%;
}

.game {
  /*float: left;*/
  height: 100%;
  margin: 1em;
  width: 60%;
}

#c {
  height: 100%;
}

.infod {
  color: #3c64f0;
  height: 5%;
  width: 100%;
}

.info {
  margin: 0%;
  width: 50%;
}

#clears {
  float: left;
  
}

#time {
  float: right;
}

.outer {
  background-color: #e6fff0;
  height: 60%;
  width: 100%;
}

.play {
  background-color: #ffffff;
  color: #000000;
  font-size: 175%;
  height: 40%;
  width: 80%;
}

#prompt {
  margin: 0%;
}

#input {
  height: 100%;
  width: 100%;
}

#warm-up {
  float: left;
}

#trial {
  float: right;
}

#footer {
  bottom: 0;
}
