/* Version 2022.12.04.11.44 */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e6fff0;
  font-family: "Times New Roman", Times, serif;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

#topnav {
  background-color: #3c64f0;
  color: #ffffff;
  height: 7.5%;
  overflow: hidden;
  padding: 0%;
  width: 100%;
}

.imgdiv {
  height: 100%;
  width: 4.21875%
}

#menu {
  float: left;
}

.topimg {
  display: block;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.title {
  float: right;
  text-align: center;
  width: 83.125%;
}

.title-text {
  float: right;
  font-size: 250%;
  margin: 0%;
  width: 33.333333333333336%;
}

#menudiv {
  background-color: #ffffff;
  height: 40%;
  left: 0%;
  position: absolute;
  top: -100%;
  width: 20%;
}

#menudiv p {
  font-size: 200%;
}

#helpdiv {
  background-color: #ffffff;
  height: 40%;
  position: absolute;
  right: 0%;
  top: -100%;
  width: 20%;
}

#settingsdiv {
  background-color: #ffffff;
  height: 40%;
  position: absolute;
  right: 0%;
  top: -100%;
  width: 20%;
}

#settingsdiv p {
  font-size: 200%;
}

#rimg1 {
  float: right;
}

#rimg2 {
  float: right;
}

.checkbox {
  height: 5%;
  width: 5%;
}

.label {
  font-size: 150%;
}

.main {
  height: 82.5%;
  margin: 0%;
  width: 100%;
}

#bigger {
  height: 100%;
  width: 100%;
}

.game {
  height: 100%;
  margin: 1em;
  width: 70%;
}

.infod {
  color: #3c64f0;
  height: 5%;
  width: 100%;
}

.info {
  margin: 0%;
  width: 50%;
}

#clears {
  float: left;
  
}

#time {
  float: right;
}

#outer {
  background-color: #e6fff0;
  height: 80%;
  width: 100%;
}

.play {
  background-color: #ffffff;
  color: #000000;
  font-size: 175%;
  height: 42%;
  width: 80%;
}

hr {
  color: #3c64f0;
}

#prompt {
  margin: 0%;
}

#input {
  height: 100%;
  width: 100%;
}

#warm-up {
  float: left;
}

#trial {
  float: right;
}

#footer {
  bottom: 0%;
  position: fixed;
}

#footer p {
  margin: 0%;
}
