/* Version 2022.11.19.15.00 */

body {
  background-color: #202b34;
  color: #fedcba;
  font-family: "Times New Roman", Times, serif;
  margin: 0%;
  padding: 0%;
}

.topnav {
  background-color: #3c64f0;
  color: #ffffff;
  overflow: hidden;
  padding: 0%;
  width: 100%;
}

.topnav img {
  height: 5%;
  width: 5%;
}

#menu {
  float: left;
}

.title {
  float: left;
  text-align: center;
  width: 85%;
}

.title-text {
  float: right;
  font-size: 250%;
  margin: 0%;
  width: 33.333%;
}

.rimg {
  float: right;
}

.main {
  margin: 0%;
}

.ad {
  background-color: #ff88bb;
  height: 100%;
  margin: 0%;
  padding: 1em;
  width: 20%;
}

#lad {
  float: left;
}

#rad {
  float: right;
}

.game {
  float: left;
  height: 100%;
  margin: 0%;
  padding: 1em;
  width: 50%;
}

#info {
  color: #3c64f0;
  width: 100%;
}

.info {
  margin: 0%;
  width: 50%;
}

#clears {
  float: left;
  margin: 0%;
}

#time {
  float: right;
  margin: 0%;
}

.outer {
  background-color: #e6fff0;
  height: 100%;
  width: 106%;
}

.play {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  width: 80%;
}

#divider {
  color: #3c64f0;
  font-size: 250%;
  margin: 0%;
}
